* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 8px;
  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 40px;
  color: #2a2a7b;
  font-weight: bold;
  margin: 20px;
}

div {
  font-size: 24px;
  color: #2a2a7b;
  font-weight: bold;
}

/* Game Screen Styles */
#gameScreen {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

#turnInfo {
  font-size: 28px;
  font-weight: 500;
  color: #6b6b9f;
  margin-bottom: 40px;
  text-align: center;
}

.game-board {
  display: grid;
  background: #40e7e7;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 4px;
  width: 320px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.cell:hover {
  background-color: #d5f7f7;
}
